/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: black;
    color: white;
}

/* Header */
.header_container {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: 31px;
}

.logo {
    width: 298px;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-1);
    position: relative;
    left: -50px;
}

.logo p {
    font-family: "Roboto-Regular";
    font-size: 24px;
    position: relative;
}

.logo img {
    width: 268px;
    height: 96px;
}

.container_menu {
    width: 732px;
    height: 38px;
    display: flex;
    position: relative;
    left: 90px;
}

.home {
    width: 732px;
    height: 38px;
    display: flex;
    gap: 20px; /* Espacio entre los elementos del menú */
}

.init, .how, .help, .about {
    margin: 8px;
}

.init a, .how a, .help a, .about a {
    text-decoration: none;
}

.init p, .how p, .help p, .about p {
    font-family: "Roboto-Bold";
    font-size: 24px;
    color: white;
}

.night_container {
    width: 103px;
    height: 40px;
}

.night {
    display: flex;
    gap: 30px;
    align-items: center;
    padding-left: 217px;
}

.night img {
    height: 30px;
    width: auto;
}


.gre-section {
    text-align: center;
    margin: 20px 0;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px; 
}

.gre-image, .dog-image {
    height: 420px; 
    width: auto;
}

.gre-section p {
    font-size: 1.5em;
    margin-top: 10px;
}


section {
    margin-bottom: 40px;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

p, ul {
    font-size: 1.2em;
    line-height: 1.6;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}


.image-placeholder {
    width: 100%;
    height: 200px;
    background-color: #333;
    margin-bottom: 20px;
}


footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9em;
}


.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.icon-placeholder {
    width: 50px;
    height: 50px;
    background-color: #333;
    border-radius: 50%;
}